@charset "utf-8";

p{
  @include px2rem(margin-top, 100px);
}

canvas {
  display: block;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  //@include px2rem(width, 520px);
  //@include px2rem(height, 680px);
}
