@charset "utf-8";

.mainheader{
  background-color: $login_bg;
  text-align: center;
  color: white;
  height:50px;
  line-height:50px;
  font-size: 1rem;
}

.mint-header{
	background-color: $header_bg_color;
	height: 50px;
}